.home-container {
    padding: 20px;
    background-color: #f0f0f0;
    max-width: 100%;
    height: 1000px;
  }

.create-postcard-container {
    text-align: center;
    width: 100%;
    height: 900px;
    background-color: #ffffff;
    padding: 20px;
    height: auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    border: 1px solid black; 
}

.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    border: 2px solid rgb(195, 195, 195);
    cursor: pointer;
    overflow: hidden;
}

.file-upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#file-upload {
    display: none;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-results-list
{
    margin-bottom: 15px;
}

.create-postcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.file-upload-container {
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 200px; 
    flex-grow: 0;
}

.search-button, .submit-button {
    padding: 8px 16px;
    background-color: #b3b3b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover, .submit-button:hover {
    background-color: #a6a6a6;
}

.user-details {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

